.git
.github
.vscode
src
**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/playwright-report
**/TestResults
**/.angular
package_modules
docs
tests
src/AppHost
src/Services/ApiSampleService
src/Services/FrontSampleService
scripts/*
!scripts/docker-entrypoint.sh
!.artifacts/
!.artifacts/docker/
!.artifacts/docker/**
