@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$rose-palette ),
            typography: (brand-family: 'Roboto, Arial, sans-serif',
                plain-family: 'Roboto, Arial, sans-serif'
            ),
            density: (scale: 0)));

$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$rose-palette ),
            typography: (brand-family: 'Roboto, Arial, sans-serif',
                plain-family: 'Roboto, Arial, sans-serif'
            ),
            density: (scale: 0)));

.light-theme {
    @include mat.all-component-colors($light-theme);
}

.dark-theme {
    @include mat.all-component-colors($dark-theme);
}

.snackbar-success {
    background: #2e7d32;
    color: #fff;
}

.snackbar-error {
    background: #c62828;
    color: #fff;
}