<div class="d-flex flex-column gap-3">
  <div class="d-flex justify-content-between align-items-center">
    <mat-form-field subscriptSizing="dynamic" width="auto">
      <mat-label>{{ i18n.entitlement.selectUser | translate }}</mat-label>
      <input matInput [formControl]="userControl" [matAutocomplete]="userAutocomplete">
      <mat-autocomplete #userAutocomplete="matAutocomplete" [displayWith]="displayUser"
        (optionSelected)="selectUser($event.option.value)">
        @for (user of users(); track user.id) {
        <mat-option [value]="user">{{ user.userName }} · {{user.email}} </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button matButton="filled" (click)="add()">
      <mat-icon>add</mat-icon>
      {{ i18n.common.add | translate}}
    </button>
  </div>
  @if (selectedUser()) {
  <table mat-table [dataSource]="entitlements()"><ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>{{ i18n.entitlement.code | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.entitlementCode }}</td>
    </ng-container><ng-container matColumnDef="limit">
      <th mat-header-cell *matHeaderCellDef>{{ i18n.entitlement.valueLimit | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.valueLimit }} {{ item.unit }}</td>
    </ng-container><ng-container matColumnDef="used">
      <th mat-header-cell *matHeaderCellDef>{{ i18n.entitlement.currentValue | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.currentValue }}</td>
    </ng-container><ng-container matColumnDef="expiration">
      <th mat-header-cell *matHeaderCellDef>{{ i18n.entitlement.expirationDate | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.expirationDate | date:'yyyy-MM-dd HH:mm' }}</td>
    </ng-container><ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ i18n.common.actions | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="edit(item)" class="primary" [attr.aria-label]="i18n.common.edit | translate">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(item.id)" class="error"
          [attr.aria-label]="i18n.common.delete | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  }

</div>