* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

code, pre {
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
}
