<mat-card class="text-center p-4">
  <mat-card-header class="justify-content-center">
    <mat-icon fontIcon="lock" style="font-size: 48px;"></mat-icon>
  </mat-card-header>
  <mat-card-title>{{ i18n.unauthorized.title | translate }}</mat-card-title>
  <mat-card-content>
    <p>{{ i18n.unauthorized.message | translate }}</p>
    <p>{{ i18n.unauthorized.hint | translate }}</p>
  </mat-card-content>
  <mat-card-actions class="justify-content-center">
    <a mat-raised-button color="primary" routerLink="/home">{{ i18n.unauthorized.backHome | translate }}</a>
  </mat-card-actions>
</mat-card>
