<div class="container-fluid">
  <div class="row g-3">
    <div class="col-12 col-xl-3">
      <mat-card class="h-100">
        <mat-card-content class="overflow-hidden">
          <h3 class="m-0 mb-2">{{ 'permission.client' | translate }}</h3>

          @if (clients().length > 0) {
            <mat-nav-list>
              @for (client of clients(); track trackByClientId($index, client)) {
                <button mat-list-item type="button" class="rounded-3 mb-1" [activated]="client.id === clientId"
                  (click)="selectClient(client)">
                  <mat-icon matListItemIcon>apps</mat-icon>
                  <span matListItemTitle>{{ client.displayName || client.clientId }}</span>
                  <span matListItemLine>{{ client.clientId }}</span>
                </button>
              }
            </mat-nav-list>
          } @else {
            <div class="d-flex flex-column align-items-center justify-content-center gap-3 py-4">
              <mat-icon>apps_outage</mat-icon>
              <p>{{ 'common.noData' | translate }}</p>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-xl-9">
      <mat-card class="h-100">
        <mat-card-content class="overflow-hidden">
          @if (selectedClient()) {
            <div class="d-flex flex-wrap justify-content-between align-items-start gap-3">
              <div>
                <h3 class="m-0">{{ selectedClient()!.displayName || selectedClient()!.clientId }}</h3>
                <p class="m-0 mt-1">{{ selectedClient()!.clientId }}</p>
              </div>

              <div class="d-flex flex-wrap align-items-start gap-2 flex-grow-1">
                <mat-form-field appearance="outline" class="flex-grow-1">
                  <mat-label>{{ 'common.search' | translate }}</mat-label>
                  <input matInput [(ngModel)]="keyword" (keyup.enter)="loadTree()" />
                </mat-form-field>

                <button mat-button (click)="clearFilters()">
                  {{ 'common.reset' | translate }}
                </button>

                <button matButton="filled" (click)="addRoot()" [disabled]="!clientId">
                  <mat-icon>add</mat-icon>
                  {{ 'permission.add' | translate }}
                </button>
              </div>
            </div>

            <ng-template #permissionTree>
              @if (isLoading()) {
                <app-loading [diameter]="36"></app-loading>
              } @else if (dataSource.data.length === 0) {
                <div class="d-flex flex-column align-items-center justify-content-center gap-3 py-5">
                  <mat-icon>inventory_2</mat-icon>
                  <p>{{ 'common.noData' | translate }}</p>
                </div>
              } @else {
                <div class="pt-3">
                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="permission-tree">
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="tree-node">
                      <button mat-icon-button disabled></button>
                      <mat-icon>{{ node.icon || 'key' }}</mat-icon>
                      <div class="node-text">
                        <strong>{{ getNodeLabel(node) }}</strong>
                        <span>{{ node.code }}</span>
                      </div>
                      <div class="row-actions">
                        <button mat-icon-button class="action-add" (click)="addChild(node, $event)" [attr.aria-label]="'permission.add' | translate">
                          <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button class="action-edit" (click)="editNode(node, $event)" [attr.aria-label]="'common.edit' | translate">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="action-delete" (click)="deleteNode(node, $event)" [attr.aria-label]="'common.delete' | translate">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </li>
                  </mat-tree-node>

                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                      <div class="tree-node">
                        <button mat-icon-button matTreeNodeToggle>
                          <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
                        </button>
                        <mat-icon>{{ node.icon || 'folder' }}</mat-icon>
                        <div class="node-text">
                          <strong>{{ getNodeLabel(node) }}</strong>
                          <span>{{ node.code }}</span>
                        </div>
                        <div class="row-actions">
                          <button mat-icon-button class="action-add" (click)="addChild(node, $event)" [attr.aria-label]="'permission.add' | translate">
                            <mat-icon>add</mat-icon>
                          </button>
                          <button mat-icon-button class="action-edit" (click)="editNode(node, $event)" [attr.aria-label]="'common.edit' | translate">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button class="action-delete" (click)="deleteNode(node, $event)" [attr.aria-label]="'common.delete' | translate">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                      <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                      </ul>
                    </li>
                  </mat-nested-tree-node>
                  </mat-tree>
                </div>
              }
            </ng-template>

            <mat-tab-group [selectedIndex]="activeTabIndex" (selectedIndexChange)="onTabChange($event)">
              @for (tab of typeTabs; track tab.value) {
                <mat-tab [label]="tab.labelKey | translate">
                  <ng-template matTabContent>
                    <ng-container [ngTemplateOutlet]="permissionTree"></ng-container>
                  </ng-template>
                </mat-tab>
              }
            </mat-tab-group>
          } @else {
            <div class="d-flex flex-column align-items-center justify-content-center gap-3 py-5">
              <mat-icon>touch_app</mat-icon>
              <p>{{ 'permission.selectClientHint' | translate }}</p>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>